.container-div {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  border: 5px solid rgb(0, 0, 0);
  box-sizing: border-box;
}

.square-div {
  width: calc(100% / 16);
  height: calc(100% / 16);
  border: 2px solid black;
  box-sizing: border-box;
  background-color: white;
}

.square-div.hover {
  background-color: blue;
}

#grid-ask {
}
